@model AuctionZ.Models.LotViewModel


<h3>@Model.Name</h3>
<p>Current price: <span class="">@Model.Price.ToString("c")</span></p>
<p>
    @if (DateTime.Now > Model.ExpirationTime)
    {
        <span class="label label-danger">@Model.ExpirationTime, Time is over</span>
    }
    else
    {
        <span class="label label-success">@Model.ExpirationTime</span>
    }                    
</p>
<p>
    <a class="btn btn-primary" asp-action="Details" asp-route-lotId="@Model.LotId">
        Details
    </a>
</p>