@model LotsViewModel
@{
    ViewBag.Title = "Auction";
    string NoResults = ViewBag.NoLots ?? "No lots there";
}


<!--> </!-->
<form method="get">
    <div class="form-inline">
        <label class="control-label">Title: </label>
        <input name="title" asp-for="Filter.SelectedTitle" class="form-control" /> 
        <label class="control-label">Category: </label>
        <select name="category" asp-for="Filter.SelectedCategory" asp-items="@Model.Filter.Categories" class="form-control"></select> 
        <input type="submit" value="Apply filter" class="btn btn-primary" />
    </div>
</form>
@if (!Model.Lots.Any())
{
    <div style="margin-top: 1%" class="jumbotron">
        <h1>@NoResults</h1>
        <b>Try to specify other filter params</b>
    </div>
}
else
{
    foreach (var lot in Model.Lots)
    {
     <div class="col-md-12" style="margin-top: 20px;">
         <div class="row">
             <div class="col-md-4">
                 <img src="~/images/@lot.ImageUrl" style="max-width: 100%" height="150" alt="@lot.Name"/>
             </div>
             <div class="caption col-md-4">
                 <partial name="_lot", model="lot"/>
             </div>
         </div>
     </div>
     }
    <div>
        <page-link page-model="Model.Pagination" 
                   page-action="Index",
                   page-url-category="@Model.Filter.SelectedCategory",
                   page-url-title="@Model.Filter.SelectedTitle"></page-link>
    </div>
}
